
$icon-arrow-down: "\EA01" !default;

$icon-arrow-left: "\EA02" !default;

$icon-arrow-right: "\EA03" !default;

$icon-arrow-up: "\EA04" !default;

$icon-menu: "\EA05" !default;

$icon-nav-menu: "\EA06" !default;

$icon-search: "\EA07" !default;

$icon-settings: "\EA08" !default;

$icon-shop: "\EA09" !default;

$icon-user-login: "\EA0A" !default;