/*
================================================================================
|                                     reset                                     |
================================================================================
*/
body{ margin:0px; padding:0px; font-family:Tahoma,Arial, sans-serif;background-color:#FFFFFF; height:100%; position:relative; font-size:13px!important; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, 
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {display: block;}
body {line-height: 1;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-width: 0px; padding: 0px; margin: 0px;}
html{height:100%; -webkit-text-size-adjust: none;-ms-text-size-adjust: none;}
input, textarea {color: #333;  outline:none; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -webkit-appearance: none;}
input[type="button"], input[type="submit"], button {cursor: pointer}
td{margin: 0px; padding: 0px;}
form{padding: 0px; margin: 0px;}
a{color: #000100; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; text-decoration:none; outline:none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
input[type=submit], input[type=button], button{-webkit-appearance: none; outline: none;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.clearfix:after,
.wrapper:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}



/*
================================================================================
|                                  MAIN STYLES                                  | 
================================================================================
*/

.main-wrapper{
	padding: 0 0 0 0;
	min-width: 320px;
	position: relative;
	overflow: hidden;
	min-height:100%;
}
.wrapper{
	min-width: 320px;
	max-width: 1920px;
	padding: 0 40px 0 40px;
	margin: 0 auto;
	position: relative;
}

/* titles */
p{
	font-size: 1em;
	line-height: 1.1em;
	padding: 15px 0 15px 0;
	font-weight: 400;
	color: #17202f;
}
h1{
	font-size: 2em;
	line-height: 1.1em;
	padding: 15px 0 15px 0;
	font-weight: 400;
	color: #17202f;
}
h2{
	font-size: 1.8em;
	line-height: 1.1em;
	padding: 15px 0 15px 0;
	font-weight: 400;
	color: #17202f;
}

/* text position */
.text-left{text-align: left!important}
.text-center{text-align: center!important}
.text-right{text-align: right!important}
.nowrap{white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper{visibility:hidden;}
.icon-load{background:url(../img/loader.gif) no-repeat left top;width:40px;height:40px;position:fixed;left:50%;top:50%;margin-left:-20px;margin-left:-20px;display:none;}
.loaded .icon-load{display:block;}

/* block position */
.fl-left {float: left}
.fl-right {float: right}


/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header {
	background:url(../img/bg_header.jpg) no-repeat;
	width:100%;
	min-width: 320px;
	text-align:left;
	position:absolute;
	left:0px; top:0px;
	z-index:1;
}

.head-block {
	width: 1240px;
	height: 100px;
	border-bottom: 1px solid #dddfdf;
	margin: 0 auto;
}

.logo-block {
	margin: 0 4% 0 1%;
	padding: 2.2% 0;
}

.logo-block__text {
	color: #747688;
	font-style: 14px;
	font-weight: 400;
	margin-top: 1%;
}

.search__form {
	padding: 2.5% 0;
	position: relative;
}

.search__input {
	width: 496px;
	height: 40px;
	border: 1px solid #b9b8bd;
	border-radius: 4px;
	padding-left: 1.5%;
}

.icon-search {
	font-weight: 600;
	font-size: 18px;
	position: absolute;
	top: 40%;
	bottom: 60%;
	right: 4%;
}

.contacts {
	padding: 2.5% 0;
}

.contacts-data {
	margin: 0 1% 0 2%;
}

.contacts-data__work-time,
.contacts-data__location {
	font-size: 14px;
	font-weight: 400;
	color: $color-for-elements;
	margin: 1% 0;
}

.contacts-data__location {
	color: #2b3056;
}

.contacts__phone {
	font-weight: 400;
	font-size: 18px;
	padding: 0.5% 0;
}
/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.content {
	width:100%;
	min-width: 320px;
	text-align:left;
}

.breadcrumb {
	margin: 5em auto 2em;
	max-width: 1240px;

	a {
		vertical-align: middle;
		line-height: 24px;
		font-size: 15px;
		font-weight: 700;
	}

	a:nth-child(-n+2):after {
		content: $icon-arrow-right;
		font-family: 'myicons';
		vertical-align: middle;
		line-height: 20px;
		font-size: 24px;
		color: $color-for-elements;
	}
}

.gallery {
	max-width: 1354px;
	text-align: center;
}

.gallery__item {
	//position: absolute;	
	display: inline-block;
	margin: 10px 5px;
	width: 300px;
	padding: 10px 0;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);

	img {
		width: 100%;
	}
}

// .gallery__item-detales {
// 	//position: relative;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3) inset;
// 	text-align: center;

// }


/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
footer {	
	display: flex;
	align-items: center;
	justify-content: center;
	height:81px; 
	position:absolute;
	left:0px; 
	bottom:0px;
	width:100%;
	min-width: 320px;
	color: #cb944c;
	border-top: 1px solid #b9b8bd;
}
